body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aqua;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: chartreuse;
    box-shadow:inset
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 10px 0;
}

button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: red;
}
